---
---

@import "minima";

// Custom styles
.site-header {
  border-top: 5px solid #424242;
}

.post-content {
  h2 {
    margin-top: 2rem;
  }
  
  code {
    background-color: #f4f4f4;
    padding: 2px 6px;
    border-radius: 3px;
  }
}
